html, body {
  height: 100%;
  background-color: black;
}

.loader {
  width: 130px;
  height: 130px;
  border-radius: 65px;
  border: 2px solid white;
  position: relative;
  margin: 20px auto;
  top: 50%;
  left: 50%;
  margin: -65px 0 0 -65px;
}

span {
  display: block;
  width: 1px;
  margin: 0 auto;
  line-height: 32px;
  margin-top: 47px;
  margin-left: 1.5px;
  color: white;
  font-weight: bold;
  font-family: arial;
  position: relative;
  font-size: 27.5px;
  text-align: center;
}
span:after {
  font-size: 27.5px;
  content: attr(data-title);
  position: absolute;
  overflow: hidden;
  display: block;
  margin-left: 0;
  top: 0;
  opacity: 0;
  height: 32px;
  color: white;
}
.l3 span:after {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2.3s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  0% {
    height: 0;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  78% {
    height: 30px;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  88% {
    height: 30px;
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    height: 30px;
    opacity: 0.1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
