.body {
  background-image: url(img/15670.gif);
<<<<<<< HEAD
  background-size: cover;
=======
>>>>>>> 0321a50c894d0017b32a1ce1e61bf2d4d8ccbe58
}
.poster {
    /*background-color: black;
    border-radius: 6rem;
    box-shadow: 0 0 6rem -.5rem rgb(133, 18, 123); */
    box-sizing: border-box;
    display: grid;
    font-family: Arial, sans-serif;
    font-weight: 800;
    font-size: 3.15rem;
    grid-template-columns: 5.25rem 18rem;
    height: 36rem;
    line-height: .8;
    margin: 10rem auto;
    padding: 6rem 6rem 14rem;
    text-transform: uppercase;
    white-space: nowrap;
    width: 33rem;
  }
  .left {
    animation: slideleft 3s linear;
    color: white;
    overflow: hidden;
    transform: skewY(-30deg);
    transform-origin: top right;
  }
  .right {
    animation: slideright 3s linear;
    color: white;
    overflow: hidden;
    text-indent: -5.25rem;
    transform: skewY(30deg);
    transform-origin: top left;
  }
  .last {
    color: white;
    font-size: 1.6rem;
    line-height: .9;
    overflow: hidden;
    text-indent: 0;
    transform: skewY(30deg) skewX(-41deg);
    transform-origin: top left;
  }
  .last > div {
    animation: slidebottom 3s linear;
  }
  @keyframes slideleft {
    0% { text-indent: -23.25rem; }
    100% { text-indent: 0; }
  }
  @keyframes slidebottom {
    0% { text-indent: -18rem; }
    25% { text-indent: -18rem; }
    100% { text-indent: 0; }
  }
  @keyframes slideright {
    0% { text-indent: -28.5rem; }
    100% { text-indent: -5.25; }
  }
